%h1= @category.name
= @category.picture.presence ? image_tag(@category.picture.url(:medium)) : image_tag("no_image.jpg")
/ =image_tag @category.picture.url(:thumb)
%p
= @category.parent.name if @category.parent